@font-face {
	font-family: "Latin Modern Roman";
	src: url("./assets/fonts/lmroman-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Latin Modern Roman";
	src: url("./assets/fonts/lmroman-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Latin Modern Roman";
	src: url("./assets/fonts/lmroman-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Latin Modern Roman";
	src: url("./assets/fonts/lmroman-bolditalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Latin Modern Sans";
	src: url("./assets/fonts/lmsans-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Latin Modern Sans";
	src: url("./assets/fonts/lmsans-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Latin Modern Sans";
	src: url("./assets/fonts/lmsans-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Latin Modern Sans";
	src: url("./assets/fonts/lmsans-bolditalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Latin Modern Mono";
	src: url("./assets/fonts/lmmono-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Latin Modern Mono";
	src: url("./assets/fonts/lmmono-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}
