// Text colours.
$link-colour: #c43c00 !default;
$link-hover-colour: #ff9e40 !default;
$nav-link-colour: #992d00 !default;

$primary-colour: #ff6d00 !default;
$light-colour: #ff9e40 !default;
$dark-colour: #c43c00 !default;
$very-dark-colour: #992d00 !default;
$dark-shadow-colour: #3f1300 !default;
$current-page-colour: #3f1300 !default;
